@using UGB.Paysa.Authorization
@using UGB.Paysa.Web.Areas.App.Models.Cartes
@using UGB.Paysa.Web.Areas.App.Startup
@model CartesViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Cartes;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Cartes/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("Cartes")' description='@L("CartesHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Cartes_Create))
        {
        <button id="CreateNewCarteButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewCarte")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="CartesTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetCartesButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="UIDFilterId">@L("UID")</label>
                            <input type="text" class="form-control" name="uidFilter" id="UIDFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="NumeroCarteFilterId">@L("NumeroCarte")</label>
                            <input type="text" class="form-control" name="numeroCarteFilter" id="NumeroCarteFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label for="IsActiveFilterId">@L("IsActive")</label>
                        <select class="form-control" name="IsActiveFilter" id="IsActiveFilterId">
                            <option value="-1">@L("All")</option>
                            <option value="0">@L("False")</option>
                            <option value="1">@L("True")</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDateDelivranceFilterId">@L("DateDelivranceRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinDateDelivranceFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxDateDelivranceFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDateExpirationFilterId">@L("DateExpirationRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinDateExpirationFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxDateExpirationFilterId">
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CompteNumeroCompteFilterId">(@L("Compte")) @L("NumeroCompte")</label>
                            <input type="text" class="form-control" name="compteNumeroCompteFilter" id="CompteNumeroCompteFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="CartesTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("UID")</th>
                                <th>@L("NumeroCarte")</th>
                                <th>@L("IsActive")</th>
                                <th>@L("DateDelivrance")</th>
                                <th>@L("DateExpiration")</th>
                                <th>@L("CompteNumeroCompte")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>