
@using System.Globalization
@using UGB.Paysa.Web.Areas.App.Models.Common.Modals
@using UGB.Paysa.Web.Areas.App.Models.Operations
@model CreateOrEditOperationModalViewModel
@using Abp.Extensions
@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(Model.IsEditMode ? (L("EditOperation")) : L("CreateNewOperation")))

<div class="modal-body">
    <div id="OperationInformationsTab">
        <form name="OperationInformationsForm" role="form" novalidate class="form-validation">

            @if (Model.IsEditMode)
            {
            <input type="hidden" name="id" value="@Model.Operation.Id" />
            }

            <div class="form-group">
                <label for="compteId">@L("Compte")</label>
                @Html.DropDownList("compteId", new SelectList(Model.OperationCompteList,"Id","DisplayName", (Model.IsEditMode ? Model.Operation.CompteId.ToString() : "")),@L("SelectACompte"), new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label for="Operation_CodeOperation">@L("CodeOperation")</label>
                <input class="form-control" id="Operation_CodeOperation" value="@Model.Operation.CodeOperation" type="text" name="codeOperation" required />
            </div>

            <div class="form-group">
                <label for="Operation_DateOperation">@L("DateOperation")</label>
                <input class="form-control m-input date-picker" id="Operation_DateOperation" type="text" name="dateOperation" value="@Model.Operation.DateOperation" />
            </div>

            <div class="form-group">
                <label for="Operation_Montant">@L("Montant")</label>
                <input class="form-control m-input" id="Operation_Montant" value="@Model.Operation.Montant.ToString(CultureInfo.InvariantCulture)" type="number" name="montant" />
            </div>

            <div class="form-group">
                <label for="Operation_Discriminator">@L("Discriminator")</label>
                <input class="form-control" id="Operation_Discriminator" value="@Model.Operation.Discriminator" type="text" name="discriminator" required />
            </div>

            <div class="form-group">
                <label for="Operation_CreationTime">@L("CreationTime")</label>
                <input class="form-control m-input date-picker" id="Operation_CreationTime" type="text" name="creationTime" value="@Model.Operation.CreationTime" />
            </div>

            <div class="form-group">
                <label for="Operation_LastModificationTime">@L("LastModificationTime")</label>
                <input class="form-control m-input date-picker" id="Operation_LastModificationTime" type="text" name="lastModificationTime" value="@Model.Operation.LastModificationTime" />
            </div>

            <div class="m-checkbox-list">
                <label for="Operation_IsDeleted" class="kt-checkbox">
                    <input id="Operation_IsDeleted" type="checkbox" name="isDeleted" value="true" @Html.Raw(Model.Operation.IsDeleted ?"checked=\"checked\"":"") />
                    @L("IsDeleted")
                    <span></span>
                </label>
            </div>

            <div class="form-group">
                <label for="Operation_DeletionTime">@L("DeletionTime")</label>
                <input class="form-control m-input date-picker" id="Operation_DeletionTime" type="text" name="deletionTime" value="@Model.Operation.DeletionTime" />
            </div>

        </form>
    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithSaveAndCancel.cshtml")