
@using UGB.Paysa.Web.Areas.App.Models.Common.Modals
@using UGB.Paysa.Web.Areas.App.Models.Operations
@model OperationViewModel

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("Details")))

<div class="modal-body">
    <div id="OperationInformationsTab">

        <div class="row">
            <div class="col-6 mb-3">
                <h6>@L("CodeOperation") :</h6>
                @Model.Operation.CodeOperation
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DateOperation") :</h6>
                @Model.Operation.DateOperation
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Montant") :</h6>
                @Model.Operation.Montant
            </div>
            <div class="col-6 mb-3">
                <h6>@L("Discriminator") :</h6>
                @Model.Operation.Discriminator
            </div>
            <div class="col-6 mb-3">
                <h6>@L("CreationTime") :</h6>
                @Model.Operation.CreationTime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("LastModificationTime") :</h6>
                @Model.Operation.LastModificationTime
            </div>
            <div class="col-6 mb-3">
                <h6>@L("IsDeleted") :</h6>
                @Model.Operation.IsDeleted
            </div>
            <div class="col-6 mb-3">
                <h6>@L("DeletionTime") :</h6>
                @Model.Operation.DeletionTime
            </div>

            <div class="col-6 mb-3">
                <h6>(@L("Compte")) @L("NumeroCompte") :</h6>
                @Model.CompteNumeroCompte
            </div>

        </div>

    </div>
</div>

@await Html.PartialAsync("~/Areas/App/Views/Common/Modals/_ModalFooterWithClose.cshtml")