@using UGB.Paysa.Authorization
@using UGB.Paysa.Web.Areas.App.Models.Operations
@using UGB.Paysa.Web.Areas.App.Startup
@model OperationsViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Operations;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Operations/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("Operations")' description='@L("OperationsHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Operations_Create))
        {
        <button id="CreateNewOperationButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewOperation")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="OperationsTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetOperationsButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CodeOperationFilterId">@L("CodeOperation")</label>
                            <input type="text" class="form-control" name="codeOperationFilter" id="CodeOperationFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinDateOperationFilterId">@L("DateOperationRange")</label>
                            <div class="input-group">
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MinValue")" id="MinDateOperationFilterId">
                                <span style="line-height: 40px;padding: 0 15px 0 15px;"> &mdash; </span>
                                <input class="form-control m-input date-picker" type="text" placeholder="@L(" MaxValue")" id="MaxDateOperationFilterId">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MinMontantFilterId">@L("MinMax") @L("Montant")</label>
                            <div class="input-group">
                                <input type="number" class="form-control m-input" placeholder="@L(" MinValue")" name="minMontantFilter" id="MinMontantFilterId" />
                                <input type="number" class="form-control m-input" placeholder="@L(" MaxValue")" name="maxMontantFilter" id="MaxMontantFilterId" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="DiscriminatorFilterId">@L("Discriminator")</label>
                            <input type="text" class="form-control" name="discriminatorFilter" id="DiscriminatorFilterId">
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="CompteNumeroCompteFilterId">(@L("Compte")) @L("NumeroCompte")</label>
                            <input type="text" class="form-control" name="compteNumeroCompteFilter" id="CompteNumeroCompteFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="TypeOperationNomFilterId">(@L("TypeOperation")) @L("Nom")</label>
                            <input type="text" class="form-control" name="typeOperationNomFilter" id="TypeOperationNomFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="OperationsTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("CodeOperation")</th>
                                <th>@L("DateOperation")</th>
                                <th>@L("Montant")</th>
                                <th>@L("Discriminator")</th>
                                <th>@L("CompteNumeroCompte")</th>
                                <th>@L("TypeOperationNom")</th>
                                <th>@L("TerminalName")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>