@using UGB.Paysa.Authorization
@using UGB.Paysa.Web.Areas.App.Models.Terminaux
@using UGB.Paysa.Web.Areas.App.Startup
@model TerminauxViewModel
@{
ViewBag.CurrentPageName = AppPageNames.Common.Terminaux;
}
@section Scripts
{
<script abp-src="/view-resources/Areas/App/Views/Terminaux/Index.js" asp-append-version="true"></script>
}

<div class="content d-flex flex-column flex-column-fluid">

    <abp-page-subheader title='@L("Terminaux")' description='@L("TerminauxHeaderInfo")'>
        <button id="ExportToExcelButton" class="btn btn-outline btn-outline-success btn-active-light-success me-1"><i class="fa fa-file-excel"></i> @L("ExportToExcel")</button>

        @if (IsGranted(AppPermissions.Pages_Terminaux_Create))
        {
        <button id="CreateNewTerminalButton" class="btn btn-primary blue"><i class="fa fa-plus"></i> @L("CreateNewTerminal")</button>
        }
    </abp-page-subheader>

    <div class="@(await GetContainerClass())">
        <div class="card card-custom gutter-b">
            <div class="card-body">
                <div class="form">
                    <div class="row align-items-center mb-4">
                        <div class="col-xl-12">

                            <div class="form-group align-items-center">
                                <div class="input-group">
                                    <input type="text" id="TerminauxTableFilter" class="form-control m-input" placeholder='@L("SearchWithThreeDot")' value="@Model.FilterText">
                                    <span class="input-group-btn">
                                        <button id="GetTerminauxButton" class="btn btn-primary" type="submit"><i class="flaticon-search-1"></i></button>
                                    </span>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div id="AdvacedAuditFiltersArea" style="display: none" class="row mb-4">
                    <div class="col-md-12">
                        <div class="separator separator-dashed"></div>
                    </div>

                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="Uid_DeviceFilterId">@L("Uid_Device")</label>
                            <input type="text" class="form-control" name="uid_DeviceFilter" id="Uid_DeviceFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="MatriculeFilterId">@L("Matricule")</label>
                            <input type="text" class="form-control" name="matriculeFilter" id="MatriculeFilterId">
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="form-group">
                            <label for="PositionFilterId">@L("Position")</label>
                            <input type="text" class="form-control" name="positionFilter" id="PositionFilterId">
                        </div>
                    </div>

                </div>
                <div class="row my-4">
                    <div class="col-xl-12">
                        <span id="ShowAdvancedFiltersSpan" class="text-muted clickable-item"><i class="fa fa-angle-down"></i> @L("ShowAdvancedFilters")</span>
                        <span id="HideAdvancedFiltersSpan" class="text-muted clickable-item" style="display: none"><i class="fa fa-angle-up"></i> @L("HideAdvancedFilters")</span>
                    </div>
                </div>
                <div class="row align-items-center">
                    <table id="TerminauxTable" class="display table table-striped table-bordered table-hover dt-responsive nowrap">
                        <thead>
                            <tr>
                                <th></th>

                                <th>@L("Actions")</th>
                                <th>@L("Uid_Device")</th>
                                <th>@L("Matricule")</th>
                                <th>@L("Position")</th>
                            </tr>
                        </thead>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>